.home-11 .banner-area .banner-text.text-positon2, .home-11 .banner-area .single-banner .number.n-2,.home-12 .banner-area .banner-text.text-positon2, .home-12 .banner-area .single-banner .number.n-2 {
  text-align: right;
  top: 65%;
  right: 30px;
}
.home-11 .banner-area .banner-text.text-positon3, .home-11 .banner-area .single-banner .number.n-4,.home-12 .banner-area .banner-text.text-positon3, .home-12 .banner-area .single-banner .number.n-4{
  left: 0px;
  top: 46%;
}
/*----------------------------------------*/
/*  24. home-12
/*----------------------------------------*/
/*----------------------------------------*/
/*  24.1 header-area
/*----------------------------------------*/
.header_area {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
  left: 0px;
  padding: 20px 0;
  position: fixed;
  top:0;
  width: 200px;
  z-index: 99999999;
  height:100vh;
}
.button {
  color: #888;
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 10px;
}
.button.btn_open {
  left: 199px;
  right: auto;
  display:none;
  color:#333333;
}
.home-12 .logo {
  text-align: center;
  margin: 50px 0;
}
.home-12 .mean-menu {
  float: left;
  padding-left: 16px;
}
.home-12 .mean-menu ul li > a {
  padding: 3px 0 10px;
}
.home-12 .mean-menu ul li a i.right-4 {
  margin-left: 121px;
}
.home-12 .mean-menu ul li a i.right-1 {
  margin-left: 116px;
}
.home-12 .mean-menu ul li a i.right-2 {
  margin-left: 124px;
}
.home-12 .mean-menu ul li a i.right-3 {
  margin-left: 84px;
}
.home-12 .mean-menu ul li ul.sub-menu {
  left: 103%;
}
.home-12 .mean-menu ul li:hover ul.sub-menu {
  top: 0;
}
.home-12 .mean-menu ul li ul.mega-menu {
  left: 93%;
  top: 100%;
  width: 480%;
}
.home-12 .mean-menu ul li:hover ul.mega-menu {
  top: 49%;
}
.home-12 .mean-menu ul li:hover ul.mega-menu2 {
  top: 12%;
}
.home-12 .mean-menu ul li ul.mega-menu2 {
  left: 106%;
  width: 130%;
}
.home-12 .mean-menu ul li {
  border-bottom: 1px solid #eaeaea;
  display: block;
  margin-bottom: 10px;
}
.home-12 .mean-menu ul li > ul li {
  border-bottom: medium none;
  margin-bottom: 0px;
}
.home-12 .mean-menu ul li ul.sub-menu li:hover > ul.sub-menu2 {
  left: 100%;
}
.home-12 .header-search {
  float: left;
  margin-top:0;
}
.home-12 .header-search ul li {
  margin: 0 15px;
}
.home-12 .header-search ul li ul.sub-menu {
  left: 0;
  width: 203px;
}
.home-12 .header-search ul li Span {
  color: #000;
}
.home-12 .social-icon {
  float:left;
  padding-left:15px;
}
/*----------------------------------------*/
/*  25. home-13
/*----------------------------------------*/ 
/*----------------------------------------*/
/*  25.1 header-area
/*----------------------------------------*/ 
.home-13 .header-search ul li Span {
  color: #000;
}
/*----------------------------------------*/
/*  25.2 slider-area
/*----------------------------------------*/ 
.home-13 .nivo-caption {
  top:60%;
  transform:translateY(-60%);
}
.home-13 .nivo-caption h4 {
  margin-bottom: 25px;
}   
/*----------------------------------------*/
/*  25.3 fullwidth-banner-area 
/*----------------------------------------*/
.single-fullwidth-banner{
  overflow:hidden;
}
.home-13 .left1,.home-13 .left2,.home-13 .right1,.home-13 .right2{
  width: 50%;
  float: left;
  position:relative;
}
.fullwidth-banner-content {
  transform: translateY(100%);
  padding:  0 60px;
}
.fullwidth-banner-content h2 {
  color: #000;
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}  
.fullwidth-banner-content h4 {
  color: #aaa;
  margin-bottom: 5px;
}  
.fullwidth-banner-content h4.color {
  color: #000;
} 
.fullwidth-banner-content h4.color span {
  color: #aaa;
} 
.fullwidth-banner-content h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 0;
} 
.fullwidth-banner-content span{
  font-weight:700;
}
.fullwidth-banner-content span.old-price {
  color: #aaa;
  font-size: 20px;
} 
.fullwidth-banner-content span.new-price {
  color: #000;
  font-size: 24px;
} 
.fullwidth-banner-img {
  position: relative;
}
.banner-single{
  overflow:hidden;
}
.fullwidth-banner-img img{
  transform:scale(1);
  transition:.3s;
}  
.fullwidth-banner-img:hover img{
  transform:scale(1.1);
}  
.seam-icon {
  color: #888;
  font-size: 40px;
  left: -15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}  
.seam-icon.floatright {
  left: 0;
  right: -15px;
  text-align: right;
}  
.seam-icon.floatright i {
  transform: rotate(180deg);
}  
/*----------------------------------------*/
/*  26. shop-full-width-page
/*----------------------------------------*/
/*----------------------------------------*/
/*  26.1 header-area
/*----------------------------------------*/
/*----------------------------------------*/
/*  26.2 header-top-area
/*----------------------------------------*/
.shop-full-width .social-icon,.shop-full .social-icon {
  float: right;
}
.shop-full-width .cart-total,.shop-full .cart-total {
  float: right;
  margin: 0;
  padding-right: 30px;
  position:relative;
}
.fixed-header-area .cart-total{
  margin-top:18px;
}
.shop-full-width .cart-total::before,.shop-full .cart-total::before {
  background: #aaa none repeat scroll 0 0;
  content: "";
  height: 13px;
  position: absolute;
  right: 12px;
  top: 4px;
  width: 1px;
}
 .fixed-header-area  .cart-total::before{
  display:none;
}
.home-2 .fixed-header-area .mean-menu ul li > ul.mega-menu, .shop-full-width .fixed-header-area .mean-menu ul li > ul.mega-menu, .shop-full .fixed-header-area .mean-menu ul li > ul.mega-menu {
  left: -26%;
}
.home-2 .fixed-header-area .mean-menu ul li > ul.mega-menu2, .shop-full-width .fixed-header-area .mean-menu ul li > ul.mega-menu2, .shop-full .fixed-header-area .mean-menu ul li > ul.mega-menu2 {
  left: 20%;
  width: 280%;
}
.home-2 .mean-menu ul li > ul.mega-menu2, .shop-full-width .mean-menu ul li > ul.mega-menu2, .shop-full .mean-menu ul li > ul.mega-menu2 {
  left: 22%;
  width: 280%;
}
.home-12 .mean-menu ul li ul.mega-menu2 {
  left: 106%;
  width: 130%;
}
/*----------------------------------------*/
/*  26.3 header-mid-area
/*----------------------------------------*/
.shop-full-width .logo,.shop-full .logo {
  margin-top: 10px;
}
.shop-full-width .header-search2,.shop-full .header-search2 {
  float: right;
  margin-left: 10px;
  margin-top: 15px;
}
.shop-full-width .header-search2 i,.shop-full .header-search2 i{
  font-size: 20px;
}
/*----------------------------------------*/
/*  26.4 mean-menu
/*----------------------------------------*/
.shop-full-width .mean-menu ,.shop-full .mean-menu {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float:right;
}
.shop-full-width .mean-menu ul li a,.shop-full-width .mean-menu ul li ul.sub-menu li a,.shop-full-width .mean-menu ul li ul.sub-menu li ul.sub-menu li a,.shop-full .mean-menu ul li a,.shop-full .mean-menu ul li ul.sub-menu li a,.shop-full .mean-menu ul li ul.sub-menu li ul.sub-menu li a,.shop-full-width .mean-menu ul li ul.mega-menu li a,.shop-full .mean-menu ul li ul.mega-menu li a {
  color: #333;
}
.shop-full-width .mean-menu ul li:hover a,.shop-full .mean-menu ul li:hover a,.shop-full-width .mean-menu ul li ul.sub-menu li:hover a,.shop-full .mean-menu ul li ul.sub-menu li:hover a,.shop-full > .mean-menu ul li:hover a,.shop-full-width .mean-menu ul li ul.sub-menu li ul.sub-menu li a:hover,.shop-full .mean-menu ul li ul.sub-menu li ul.sub-menu li a:hover,.protofolio-menu div:hover,.protofolio-menu div.active,.shop-full-width .mean-menu ul li ul.mega-menu li a:hover,.shop-full .mean-menu ul li ul.mega-menu li a:hover {
  color:#59b210;
}
/*----------------------------------------*/
/*  26.5 breadcrumb-area
/*----------------------------------------*/
.breadcrumb-area {
  background: rgba(0, 0, 0, 0) url("img/breadcrumb/1.jpg") repeat scroll center center;
}
.breadcrumb-area .single-breadcrumb .breadcrumd-text h2 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
.breadcrumb-area .single-breadcrumb .breadcrumd-text h3 {
  margin-bottom: 0;
}
.breadcrumb-area .single-breadcrumb .breadcrumd-text h3 a {
  color: #fff;
  font-size: 13px;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}
 .breadcrumb-area .single-breadcrumb .breadcrumd-text h3 a:hover{
  color:#59b210;
}
/*----------------------------------------*/
/*  26.6 product-area
/*----------------------------------------*/
.shop-full-width .product-area .tab-menu ul li {
  margin-right: 15px;
}
.shop-full-width .product-area .tab-menu ul li a {
  border: 1px solid #aaa;
  padding: 2px 8px;
}
.shop-full-width .product-area .tab-menu ul li a:before{
  background:none;
}
.shop-full-width .product-area .tab-menu ul li a:after{
  background:none;
}
.shop-full-width #list .product-content h4 a {
  font-size: 25px;
}
.shop-full-width #list .product-content p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 12px;
}
/*----------------------------------------*/
/*  26.7 pagination-area
/*----------------------------------------*/
.shop-full-width .page-detail {
  border: 1px solid #aaa;
  padding: 6px 15px;
}
.shop-full-width .page-detail .page-sumary {
  float: left;
}
.shop-full-width .page-detail .page-sumary p {
  margin: 0;
}
.shop-full-width .page-detail .page-number ul li {
  display: inline-block;
  margin-right: 6px;
}
.shop-full-width .page-detail .page-number ul li:last-child{
  margin-right:0;
}
.shop-full-width .page-detail .page-number ul li a {
  color: #333;
  position:relative;
}
.shop-full-width .page-detail .page-number ul li a::before {
  background: #333 none repeat scroll 0 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  opacity:0;
}
.shop-full-width .page-detail .page-number ul li a i{
  padding-left:5px;
}
.shop-full-width .page-detail .page-number ul li.active a::before {
  opacity:1;
}
.shop-full-width .page-detail .page-number ul li a:hover::before{
  background:#59b210;
  opacity:1;
}
.shop-full-width .page-detail .page-number ul li a:hover{
  color:#59b210;
}
/*----------------------------------------*/
/*  27. shop-left-sidebar
/*----------------------------------------*/
/*----------------------------------------*/
/*  27.1 product-area
/*----------------------------------------*/
.product-area .single-catagory:first-child{
    overflow: hidden;
    line-height: 1.5;
}
.product-area .container-single-category .single-catagory {
    /* border: 1px solid #fdf7f7; */
    padding: 5px;
    display: table !important;
    width: 97%;   
    border-bottom: 1px solid #9398ab;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.product-area .container-single-category .single-catagory:last-child {
    /* border: 1px solid #fdf7f7; */
    border-bottom: none !important;
}
.product-area .single-catagory h2.title {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}
 /*.product-area .single-catagory h2::before {
  background: #aaa none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 20%;
}*/
 .product-area .single-catagory .catagory-menu ul li {
    /* margin-bottom: 10px; */
    position: relative;
    width: 45%;
    display: inline-block;
}
.product-area .single-catagory .catagory-menu ul li.has-sub::before {
  content: "";
  font-family: pe-icon-7-stroke;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 6px;
  cursor:pointer;
}
.product-area .single-catagory .catagory-menu ul li.has-sub.open::before {
  content: "";
}
.category-sub {
  display: none;
}
.product-area .single-catagory .catagory-menu ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  color: #212b52;
}
 .product-area .single-catagory .catagory-menu ul li a i {
   float: left;
   margin-top: 8px;
   color: #848484;
   font-size: 12px;
}
 .product-area .single-catagory .catagory-menu ul li a:hover,.product-area .single-catagory .catagory-menu ul li.has-sub:hover::before{
   color:#59b210;
 }
 .catagory-menu ul.category-sub li {
  padding-left: 30px;
}
.single-catagory input {
    border: 0.5px solid #6f758e;
    font-size: 15px;
    margin-top: 15px;
    padding: 0px 0;
    text-align: center;
    text-transform: uppercase;
    margin-left: -1px;
}
.ui-widget-content {
  border: 1px solid #ddd;
  height:10px;
}
.ui-slider .ui-slider-range {
  background: #ddd none repeat scroll 0 0;
  height: 2px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: medium none;
  border-radius: 1px;
  top:-5px;
}
.ui-slider .ui-slider-handle {
  cursor: pointer;
  height: 12px;
  position: absolute;
  width: 12px;
  z-index: 2;
}
.single-catagory .Tags-menu ul li {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 16px;
}
.single-catagory .Tags-menu ul li a {
    background: #ffffff none repeat scroll 0 0;
    color: #212b52;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    /*border-radius: 5px;*/
    /*border: 0.5px solid #212b52;*/
}
.single-catagory .Tags-menu ul li a:hover{
  color:#212b52 !important;
  background:#f6ac33;
}
/*----------------------------------------*/
/*  28. portfolio
/*----------------------------------------*/
/*----------------------------------------*/
/*  28.1 portfolio-area
/*----------------------------------------*/
.portfolio-area{
  overflow:hidden;
}
.protofolio-menu div {
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-right: 30px;
  text-transform: uppercase;
  position:relative;
  transition:.3s;
}
.protofolio-menu div:hover::before,.protofolio-menu div.active::before{
  opacity:1;
}
.protofolio-menu div::before,.protofolio-menu div::after {
  background: #aaa none repeat scroll 0 0;
  content: "";
  position: absolute;
}
.protofolio-menu div::before{
  bottom: -6px;
  height: 2px;
  left: 0;
  width: 70%;
  opacity:0;
}
.protofolio-menu div::after {
  height: 14px;
  right: -16px;
  top: 6px;
  width: 1px;
}
.protofolio-menu div:last-child::after{
  display:none;
}
.single-protofolio {
  float: left;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  width: 50%;
}
.Portfolio-3 .single-protofolio{
  width:33.3%;
}
.Portfolio-4 .single-protofolio{
  width:25%;
}
.protofolio-img{
  overflow: hidden;
  position: relative;
}
.protofolio-img img{
  transform:scale(1);
  transition:.3s;
}
.single-protofolio:hover .protofolio-img img{
  transform:scale(1.1);
}
.protofolio-img a::before {
  background: #E7E4E7 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  transition:.3s;
}
.single-protofolio:hover .protofolio-img a::before{
  opacity:.5;
}
.protofolio-img a img{
  width:100%;
}
.protofolio-icon {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  opacity:0;
  visibility:hidden;
  transition:.3s;
  z-index:3;
}
.single-protofolio:hover .protofolio-icon{
  opacity:1;
  visibility:visible;
  top:50%;
}
.protofolio-icon a {
  background: #252525 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0 5px;
  text-align: center;
  width: 40px;
}
.protofolio-icon a:hover{
  background:#59b210;
}
.protofolio-text {
  background: #fff none repeat scroll 0 0;
  bottom: -12%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  visibility: hidden;
  z-index: 3;
  transition:.3s;
}
.single-protofolio:hover .protofolio-text{
  opacity:1;
  bottom:0;
  visibility:visible;
}
.protofolio-text h2 {
  margin-bottom: 2px;
}
.protofolio-text h2 a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.protofolio-text span a {
  color: #888;
  font-size: 16px;
}
.protofolio-text span a:hover{
  color:#767676;
}
#Container .mix{
  display: none;
}
/*----------------------------------------*/
/*  28.2 portfolio-demo-5
/*----------------------------------------*/
.item-img img{width:100%;}
.item-content h3 {
  color: #000;
  font-size: 28px;
}
.item-content p {
  font-size: 14px;
}
.item-content ul li {
  border-top: 1px solid #aaa;
  padding: 15px 0;
  color: #717171;
  font-size: 14px;
}
.item-content ul li span {
  color: #515151;
  font-size: 16px;
  padding-right: 5px;
}
.item-content ul li a{
  color: #717171;
  font-size: 14px;
}
.social-icon ul li{
  border-top:none;
}
/*----------------------------------------*/
/*  28.2.1 comments-area
/*----------------------------------------*/
.comments-area .section-title p {
  margin-bottom: 0;
  margin-top: 10px;
}
.comments-form label,.comments-form-author label,.comments-form-email label,.comments-form-url label {
  color: #4d4d4d;
  text-transform:capitalize;
}
.comments-form-author input, .comments-form-email input, .comments-form-url input {
  border: 1px solid #ccc;
  display: block;
  padding: 5px 10px 120px;
  width: 100%;
}
.comments-form-author input,.comments-form-email input,.comments-form-url input {
  padding: 10px 10px;
}
.comments-area .submit-button{}
.comments-area .submit-button button,.reviews-area button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #aaa;
  color: #444;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  transition:.3s;
}
.comments-area .submit-button button:hover,.reviews-area button:hover{
  color:#fff;
  background:#59b210;
  border-color:#59b210;
}
.recent-work-area .protofolio-active .single-protofolio {
  padding: 0 15px;
  width: 100%;
}
/*----------------------------------------*/
/*  29. contact
/*----------------------------------------*/
/*----------------------------------------*/
/*  29.1 googleMap
/*----------------------------------------*/
#googleMap{
  width:100%;
  height:300px;
}
/*----------------------------------------*/
/*  29.2 service-area
/*----------------------------------------*/
.contact .single-service:hover .service-icon.effect a i {
  transform: rotate(30deg);
}
/*----------------------------------------*/
/*  29.3 contact-area
/*----------------------------------------*/
.contact-area form input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 10px;
}
.contact-area .button-area {
  clear: both;
}
.contact-area .button-area button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #aaa;
  color: #252525;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition:.3s;
}
.contact-area .button-area button:hover{
  background:#59b210;
  border-color:#59b210;
  color:#fff;
}
.contact-area .massage-box form textarea {
  padding: 5px 0 0 10px;
}
.contact .massage-box {
  margin-left: 30px;
}
/*----------------------------------------*/
/*  30. aboutus
/*----------------------------------------*/
/*----------------------------------------*/
/*  30.1 aboutus-content
/*----------------------------------------*/
.aboutus-text {
  margin-top: 30px;
}
.aboutus-text h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.aboutus-text span {
  font-size: 16px;
}
.aboutus-text p {
  color: #888;
  margin-bottom: 0;
  margin-top: 30px;
}
/*----------------------------------------*/
/*  30.2 Section-element
/*----------------------------------------*/
.actives > .panel-heading{
  background:#212B52 !important;
}
.actives > .panel-heading > .panel-title a{
  color: #ffffff !important;
}
.actives > .left-arrow a::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  left: -19px;  
  border-top: 13px solid transparent;
  border-right: 10px solid #212B52;
  border-bottom: 13px solid transparent;
  border-left: 10px solid transparent;
}
.actives > .right-arrow a::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  right: -19px;  
  border-top: 13px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #212B52;
}
.panel-heading {
    padding: 0px 0px !important;
}
.panel-group {
    width: 98%;
    margin: auto;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 15px;
}
.panel-title a {
  color: #212B52;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 35px 20px;
  text-decoration: none;
  font-weight:400;
}
.panel-title a:hover {
  color: #ffffff !important;
}
.panel-title a.collapsed{
  color:#000;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    color: #212B52 !important;
}
.panel-default > .panel-heading {
  background:none;
  transition:.3s;
  position:relative;
  padding:15px;
  text-align: center;
  color: #212B52 !important;
}
.panel-default > .panel-heading:hover{
  background:#212B52;
  color: #ffffff !important;
}
/*.panel-heading a::before {
  content: "\e681";
  cursor: pointer;
  display: block;
  font-family: pe-icon-7-stroke;
  font-size: 15px;
  left: 10px;
  position: absolute;
  top: 14px;
}*/
/*.panel-heading a.collapsed::before{
  content:" "
}*/
.left-arrow a::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  left: -19px;  
  border-top: 13px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid transparent;
}
.left-arrow a:hover::before{
  border-top: 13px solid transparent;
  border-right: 10px solid #212B52;
  border-bottom: 13px solid transparent;
  border-left: 10px solid transparent;
}

.right-arrow a::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  right: -19px;  
  border-top: 13px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ffffff;
}
.right-arrow a:hover::before{
  border-top: 13px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #212B52;
}

.our-skill {
  overflow: hidden;
  padding-top: 60px;
}
.progress {
  height: 10px;
  margin-bottom: 70px;
  overflow: visible;
  position: relative;
}
.our-skill .progress:last-child{
  margin-bottom:0;
} 
.progress-bar {
  background-color: #e0e0e0;
  border-radius: 3px;
}
.skill-title {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  top: -35px;
}
.progress-bar span {
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #59b210;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: -50px;
  width: 30px;
}
/*----------------------------------------*/
/*  30.3 team-area
/*----------------------------------------*/
.single-team{
  position:relative;
  overflow:hidden;
}
.team-img{
  overflow:hidden;
  position:relative;
}
.team-img a::before {
  background: #CFD2D5 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index:2;
}
.single-team:hover .team-img a::before{
  opacity:.3;
}
.team-img a img{
  width:100%;
}
.team-img img{
  transform:scale(1);
  transition:.3s;
}
.single-team:hover .team-img img{
  transform:scale(1.1);
}
.team-text h4 {
  font-size: 13px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color:#59b210;
}
.team-text h3 {
  color: #888;
  font-size: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.team-text p,.team-text p a{
  color: #333;
}
.team-text p a:hover{
  color:#59b210;
}
/*----------------------------------------*/
/*  31. account
/*----------------------------------------*/
.account .account-title h1 {
  /*border-bottom: 1px solid #ddd;*/
  color: #212b52;
  padding-top: 18px;
  padding-bottom: 1px;
  font-size: 27px;
  text-transform: uppercase;
}
.login-area form label,.register-area form label {
  color: #2c3b64;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 0px !important;
}
.login-area form label span,.register-area form label span {
  color: #f00;
}
.login-area form input, .register-area form input, .register-area form select {
  border: 1px solid #78809a;
  display: block;
  height: 5rem;
  font-size: 15px;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
}
.login-area form input {
    width: 98%;
}
.register-area form input {
  width: 100%;
}
.login-area-merchant form input {
  width: 100% !important;
}
.login-footer-area button, .register-footer-area button, .login-area form button, .register-area form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    font-size: 15px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: .3s;
    border-radius: 10px;
    line-height: 1.7;
    font-weight: 500;
    border: 1px solid #212b52;
}
.login-footer-area button, .login-area form button {
  margin-top: 20px;
  margin-bottom: 15px;
}
.register-footer-area button{
  margin-top: 110px;
}
.login-footer-area button:hover, .login-area form button:hover, .register-footer-area button:hover, .register-area form button:hover, .question-area a:hover,.entry-content a:hover{
  border-radius: 10px;
  background: #f8ac32;
  box-shadow: none;
}
.login-area a {
  color: #ccc;
  margin-left: 26.2%;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 100;
}
.login-area a:hover{
  color:#59b210;
}
.check-merchant-left{
  margin-left: 26.2%;
}
.checkbox label input {
  margin-top: -7px;
  margin-bottom: 0;
  padding: 0;
  width: 0;
}
/*----------------------------------------*/
/*  32. faq
/*----------------------------------------*/
.faq-content{
  background: #EFEFEF;
  padding-bottom: 15px;
}

.faq-title h2,.question-area h2 {
  color: #212B52;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
  padding: 30px;
}
.faq-title p{
  color:#59b210;
}
.question-area {
  /*border: 1px solid #ddd;*/
  /*padding: 70px 0;*/
}
.question-area h3{
  /*margin-bottom:30px;*/
  text-transform: uppercase !important;
  font-weight: bold;
  color: #212B52;
  font-size: 27px;
  padding: 44px 0 25px;
}
.question-area a {
  color: #ffffff;
  background: #212B52;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 8px;
}
.question-area a:hover {
  color: #212B52 !important;
  background: #f6ac33;
  }
/*----------------------------------------*/
/*  33. page-not-found
/*----------------------------------------*/
.entry-header p {
  color: #000;
  font-size: 24px;
  margin-bottom: 0px;
}
.entry-content p {
  font-size: 15px;
  margin-bottom: 40px;
}
.entry-content a {
  border: 2px solid #aaa;
  color: #333;
  font-weight: 700;
  padding: 10px 30px;
}
/*----------------------------------------*/
/*  34. product-columns
/*----------------------------------------*/
.product-title-area p {
  margin-bottom: 0;
  margin-top: 10px;
}
/*----------------------------------------*/
/*  35. products-layout
/*----------------------------------------*/
.carousel-layout-area{
  overflow:hidden;
}
/*----------------------------------------*/
/*  36. product-left-sidebar
/*----------------------------------------*/
#gallery a {
  display: inline-block;
  position: relative;
}
#gallery a::before {
  background: #aaa none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition:.3s;
  opacity:.3;
}
#gallery a.active::before{
  background:none;
}
.product-arrow {
  margin-right: 60px;
}
.product-arrow ul li {
  display: inline-block;
  margin: 0 1px;
}
.product-arrow ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  width: 25px;
}
.product-arrow ul li a:hover{
  background:#59b210;
  border-color:#59b210;
}
.product-info {
  color: #212b52;
}
.product-info h2 {
  font-size: 30px;
}
.product-info span.old-price {
  color: #aaa;
  font-size: 20px;
}
.product-info span.new-price {
  font-size: 25px;
  color:#59b210;
}
.quality-button {
  float: left;
  margin-right: 20px;
  position:relative;
}
.cart-plus-minus {
  position: relative;
}
.cart-plus-minus input {
  border: 1px solid #aaa;
  display: inline-block;
  padding: 12px 30px;
  width: 100px;
}
.quality-button .dec.qtybutton {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 18px;
  padding: 0 6px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0;
  line-height:20px;
  border-bottom:none;
  border-left:none;
  transition:.3s;
}
.quality-button .inc.qtybutton {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-top: 0 none;
  bottom: 1px;
  font-size: 18px;
  line-height: 22px;
  padding: 0 6px;
  position: absolute;
  right: 0px;
  transition: all 0.3s ease 0s;
}
.qtybutton{cursor:pointer}
.product-info form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #aaa;
  color: #444;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  transition: .3s;
}
.product-info form button:hover{
  background:#59b210;
  border-color:#59b210;
  color:#fff;
}
.product-info .social-icon {
  float: left;
  width: 100%;
}

.product-meta {
  clear: both;
  padding-top: 15px;
}
.product-meta p a {
  color: #888;
  padding-left: 5px;
}
.products-detalis-area,.related-products-active {
  clear: both;
}
.reviews-area h3 {
  border-bottom: 1px solid #aaa;
  color: #333;
  font-size: 20px;
  padding-bottom: 10px;
}
.reviews-area p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.reviews-area .rating-area h4 {
  color: #212B52;
  font-size: 17px;
  margin-bottom: 4px;
}
.reviews-area .rating-area a {
  color: #212B52;
  font-size: 14px;
}
.reviews-area .rating-area a:hover {
  color: #FF9C00;
}
.reviews-area .comment-form label {
  color: #212B52;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
}
.reviews-area .comment-form textarea,.comments-form textarea ,.massage-box textarea  {
  display: block;
  width: 100%;
  border: 1px solid #78809a;
  border-radius: 10px;
  padding:3px 10px;
  outline: none;
  font-size: 17px;
}
.reviews-area .comment-form-author label, .reviews-area .comment-form-email label {
  color: #212B52;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 17px;
}
.reviews-area button{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: none;
  font-size: 15px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: .3s;
  box-shadow: 3px 3px 10px -2px #999;
  border-radius: 10px;
  line-height: 1.7;
  font-weight: 500;
  color: #212b52;
}
.reviews-area button:hover{
  background: #f6ac33;
  color: #212b52;
}
.reviews-area .comment-form-author input,.reviews-area .comment-form-email input {
  border: 1px solid #78809a;
  display: block;
  padding: 3px 10px;
  width: 100%;
  border-radius: 10px;
  color: #212b52;
  font-size: 17px;
}
.related-products-area{
  clear:both;
}
/*----------------------------------------*/
/*  37. product-deal
/*----------------------------------------*/
.hover-overlay .timer{
  position:absolute;
  bottom:20%;
  left:0;
  right:0;
  text-align:center;
  z-index:33;
}
.hover-overlay .timer .cdown{
  display:inline-block;
  margin:0 5px;
  background:#909090;
  color:#fff;
  width:50px;
  height:50px;
  padding:5px 0;
}
.hover-overlay .timer .cdown span{
  display:block;
}
/*----------------------------------------*/
/*  38. products-by-category
/*----------------------------------------*/
/*----------------------------------------*/
/*  39. products-best-selling
/*----------------------------------------*/
/*----------------------------------------*/
/*  40. products-featured
/*----------------------------------------*/
.section-title p span {
  font-weight: 700;
  font-size: 16px;
}
/*----------------------------------------*/
/*  41. products-top-rate
/*----------------------------------------*/
.products-top-rate .product-wrapper .product-img .secondary,.home-5 .product-wrapper .product-img .secondary {
  transform: rotateY(-180deg);
}
.products-top-rate .product-wrapper:hover .product-img .secondary,.home-5 .product-wrapper:hover .product-img .secondary {
  transform: rotateY(0deg);
}
/*----------------------------------------*/
/*  42. products-recent
/*----------------------------------------*/
/*----------------------------------------*/
/*  43. products-on-sale
/*----------------------------------------*/
/*----------------------------------------*/
/*  44. accordion-tabs
/*----------------------------------------*/
/*----------------------------------------*/
/*  45. google-maps
/*----------------------------------------*/
.google-maps  #googleMap{
  height:500px;
}
/*----------------------------------------*/
/*  46. columns
/*----------------------------------------*/
.section-title-area p{
  margin-bottom:0;
  margin-top:15px;
}
.coloum-content h3 {
  color: #000;
  font-size: 22px;
  text-transform;uppercase;
}
.coloun-heading{
  text-transform:uppercase;
  color: #000;
}
.coloun-heading h1 {
  font-size: 30px;
}
.coloun-heading h2 {
  font-size: 28px;
}
.coloun-heading h3 {
  font-size: 25px;
}
.coloun-heading h4 {
  font-size: 22px;
}
.coloun-heading h5 {
  font-size: 19px;
}
/*----------------------------------------*/
/*  47. team-testimonials
/*----------------------------------------*/
/*----------------------------------------*/
/*  48. product-right-sidebar
/*----------------------------------------*/
/*----------------------------------------*/
/*  49. product-full-width
/*----------------------------------------*/
/*----------------------------------------*/
/*  50. variations-product
/*----------------------------------------*/
.zoom-img {
  position: relative;
}
.play-view {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 777;
}
.play-view a {
  color: #333;
  font-size: 15px;
  text-decoration: none;
}
.play-view a i {
  padding-right: 10px;
}
.chosen-area label {
  font-size: 17px;
  font-weight: 500;
  margin-right: 20px;
}
.variations-product .product-meta{
  padding-top:0;
}
.product-meta span.sku-wap {
  border-bottom: 1px dashed #aaa;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.tab-Information p {
  font-size: 15px;
}
.tab-Information p span {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
/*----------------------------------------*/
/*  51. lee-banners
/*----------------------------------------*/
.banner-Carousel-area .banner-content-warper {
  background: rgba(0, 0, 0, 0) url("img/banner/51.jpg") repeat scroll 0 0;
  padding: 150px 0;
}
.banner-Carousel-area .banner-content-warper h1 {
  font-size: 42px;
}
.banner-Carousel-area .banner-content-warper h5,.lee-banners .banner-content-warper h1 {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}
.banner-Carousel-area .banner-content-warper h5{
  font-size: 22px;
}
.banner-Lax-area .single-banner .banner-text {
  left: auto;
  padding: 0 20px 0 0;
  right: 0;
}
.banner-Lax-area .single-banner .banner-text h3 {
  color: #000;
  margin-bottom: 0;
}
.banner-Lax-area .single-banner .banner-text span {
  font-size: 16px;
}
.banner-Lax-area .single-banner .banner-text.text-positon1 {
  top: 70%;
  transform:translateY(-70%)
}
.banner-Lax-area .single-banner .banner-text.text-positon2 {
  top: 50%;
  transform: translateY(-50%);
}
.lee-banners .banner-area-Out .single-banner a::before {
  background: #B3B3B3 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  opacity:0;
  transition:.3s;
}
.lee-banners .banner-area-Out .single-banner:hover a::before{
  opacity:.4;
}
.lee-banners .banner-area-Out .single-banner img {
  transform: scale(1.2);
  transition:.6s;
}
.lee-banners .banner-area-Out .single-banner:hover img{
  transform:scale(1.0);
}
/*----------------------------------------*/
/*  52. blog-grid
/*----------------------------------------*/
/*----------------------------------------*/
/*  53. blog-left-sidebar
/*----------------------------------------*/
.blog-left-sidebar .single-catagory .Tags-menu ul li {
  display: inline-block;
  padding-bottom: 16px;
  padding-right: 5px;
}
.Photos-Flickr ul li {
  display: inline-block;
  margin-bottom: 6px;
  position:relative;
}
.Photos-Flickr ul li a {
  display: block;
}
.Photos-Flickr ul li a img{
  width:100%;
}
.Photos-Flickr ul li a::before {
  position: absolute;
  background: #fff;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}
.Photos-Flickr ul li a:hover::before{
  opacity:.5;
}
.single-entry{
  overflow: hidden;
}
.entry-img a img {
  width: 100%;
}
.entry-text {
  overflow: hidden;
}
.post-date-wapper {
  float: left;
  width: 20%;
}
.bloag-entry-area .post-date {
  background: #59b210 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 90px;
  margin-left: 33px;
  padding: 15px 0;
  text-transform: uppercase;
  width: 90px;
  margin-bottom: 5px;
}
.bloag-entry-area .post-date span{
  display:block;
}
.bloag-entry-area .post-date span.post-date-month {
  font-size:16px;
}
.bloag-entry-area .post-date span.post-date-day {
  display: inline-block;
  font-size: 34px;
  margin-top: -10px;
}
.bloag-entry-area .post-date-wapper span.boottom {
  font-size: 15px;
  text-transform: capitalize;
}
.bloag-entry-area .post-content {
  float: left;
  width: 80%;
}
.bloag-entry-area .post-content h2 a {
  color: #333;
  font-size: 25px;
  text-transform: capitalize;
}
.bloag-entry-area .post-content h2 a:hover,.bloag-entry-area .entry-meta span a{
  color:#59b210;
}
.bloag-entry-area .post-content p {
  font-size: 14px;
}
.entry-meta {
  border-bottom: 1px dashed #aaa;
  border-top: 1px dashed #aaa;
  padding: 10px 0;
}
.entry-meta span {
  font-size: 14px;
}
.entry-meta span.Tagged {
  margin-left: 10px;
}
.entry-meta span.comments-link {
  float: right;
}
/*----------------------------------------*/
/*  54. blog-right-sidebar
/*----------------------------------------*/
/*----------------------------------------*/
/*  55. blog-full-width
/*----------------------------------------*/
.blog-full-width .bloag-entry-area .post-date {
  margin-left: 64px;
}
/*----------------------------------------*/
/*  56. blog-list-style
/*----------------------------------------*/
.blog-list-style .single-entry {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.blog-list-style  .entry-img {
  float: left;
  width: 30%;
}
.blog-list-style .entry-text {
  float: left;
  padding-left: 20px;
  width: 70%;
}
.blog-list-style .bloag-entry-area .post-content {
  float: none;
  width: 100%;
}
/*----------------------------------------*/
/*  57. modal
/*----------------------------------------*/
.modal-content {
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
#mymodal .modal-dialog {
  width: 870px;
}
.modal-header {
  border: medium none;
  padding: 0;
}
.modal-header button.close {
  border: none;
  font-size: 25px;
  height: 30px;
  line-height: 20px;
  opacity: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 0.3s ease 0s;
  width: 30px;
  z-index: 22;
}
.modal-header button.close:hover{
  /*border-color:#59b210;
  color:#59b210;*/
}
.modal-img{
  float:left;
  width:40%;
}
.model-text {
  float: right;
  padding-left: 15px;
  width: 60%;
}
.model-text h2 a {
  font-size: 25px;
  color: #000;
}
.home-2 .model-text h2 a{
  color:#666;
}
.model-text .product-rating {
  display: inline-block;
  margin-bottom: 5px;
}
.model-text .product-rating a{
  margin-right:5px;
  color:#333;
}
.model-text .price-rate span.old-price {
  font-size: 18px;
}
.model-text .price-rate span.new-price {
  font-size:22px;
}
.model-text h2 a:hover,.model-text .price-rate span.new-price,.model-text .product-rating a:hover {
  color:#59b210;
}
.model-text .short-description p {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}
.model-text form input {
  background: #eceff8 none repeat scroll 0 0;
  border: 1px solid #aaa;
  color: #626262;
  font-size: 16px;
  height: 40px;
  text-align: center;
  width: 80px;
}
.model-text form button {
  margin-left: 20px;
  border: none;
  padding: 11px 30px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  transition:.3s;
}
.model-text form button:hover{
  background:#59b210;
}
.model-text .product-meta {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 10px 0;
}
.model-text .product-meta span a {
  color: #59b210;
  padding: 0px 2px;
  text-transform: capitalize;
}
.model-text .social-icon ul li a {
  border: 1px solid #ddd;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
}
.model-text .social-icon ul li a:hover{
  border-color:#59b210;
  background:#59b210;
  color:#fff;
}
.home-2 .modal-area .social-icon,.shop-full-width .modal-area .social-icon, .shop-full .modal-area .social-icon {
  float:left;
}
.home-2 .modal-area .social-icon ul li a, .shop-full-width .modal-area .social-icon ul li a, .shop-full .modal-area .social-icon ul li a {
  margin-left: 0px;
  margin-right: 15px;
}

.owl-theme .owl-controls {
  margin-top: 0;
}
.checkbox {
  margin-bottom: 0;
}




/*=========================== 
19. cart page
============================= */
.cart-main-area {
  margin-bottom: 100px;
  margin-top: 100px;
}
.cart-title-area{padding-top: 30px;}
.car-header-title{}
.car-header-title h2{font-size: 20px;
margin: 0;
text-transform: uppercase;}
.table-content{}
.table-content table{background: #fff none repeat scroll 0 0;
border-color: #e5e5e5;
border-radius: 0;
border-style: solid;
border-width: 1px 0 0 1px;
margin: 0 0 50px;
text-align: center;
width: 100%;}
.table-content table{}
.table-content table th{border-top: medium none;
font-weight: normal;
padding: 20px 10px;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
white-space: nowrap;}
.table-content table th,.table-content table td{border-bottom: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;}
.table-content table td{border-top: medium none;
padding: 20px 10px;
vertical-align: middle;font-size: 13px;}
.table-content table td input{background: #e5e5e5 none repeat scroll 0 0;
border: medium none;
border-radius: 3px;
color: #6f6f6f;
font-size: 15px;
font-weight: normal;
height: 40px;
padding: 0 5px 0 10px;
width: 60px;}
.table-content table td.product-subtotal{font-size: 14px;
font-weight: bold;
width: 120px;}
.table-content table td.product-name a{font-size: 14px;
font-weight: 700;
margin-left: 10px;
color: #6f6f6f;}
.table-content table td.product-name{width: 270px;}
.table-content table td.product-thumbnail{width: 130px;}
.table-content table td.product-remove i{color: #919191;
display: inline-block;
font-size: 20px;
height: 40px;
line-height: 40px;
text-align: center;
width: 40px;}
.table-content table .product-price .amount {
  font-size: 15px;
  font-weight: 700;
}
.table-content table td.product-remove i:hover{color:#EC4445}
.table-content table td.product-quantity{width: 180px;}
.table-content table td.product-remove{width: 150px;}
.table-content table td.product-price{width: 130px;}
.table-content table td.product-name a:hover,.buttons-cart a:hover{color:#59b210}
.buttons-cart{margin-bottom: 30px;
overflow: hidden;}
.buttons-cart input, .coupon input[type="submit"],.buttons-cart a,.coupon-info p.form-row input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.buttons-cart input:hover,.coupon input[type=submit]:hover,.buttons-cart a:hover{background:#59b210;color:#fff}
.buttons-cart a {
  color: #fff;
  float: left;
  height: 40px;
  line-height: 40px;
}
.coupon {
  margin-bottom: 40px;
  overflow: hidden;
  padding-bottom: 20px;
}
.coupon h3{margin: 0 0 10px;font-size: 14px;
text-transform: uppercase;}
.coupon p{}
.coupon input[type=text]{border: 1px solid #e5e5e5;
float: left;
height: 40px;
margin: 0 6px 20px 0;
max-width: 100%;
padding: 0 0 0 10px;
width: 170px;}
.coupon input[type=submit]{}
.cart_totals{float: left;
text-align: right;
width: 100%;}
.cart_totals h2{border-bottom: 2px solid #333;
display: inline-block;
font-size: 30px;
margin: 0 0 35px;
text-transform: uppercase;}
.cart_totals table{border: medium none;
float: right;
margin: 0;
text-align: right;}
.cart_totals table th{border: medium none;
font-size: 14px;
font-weight: bold;
padding: 0 20px 12px 0;
text-align: right;
text-transform: uppercase;
vertical-align: top;}
.cart_totals table td{border: medium none;
padding: 0 0 12px;
vertical-align: top;}
.cart_totals table{}
.cart_totals table td .amount {
  color: #59b210;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  text-align: right;
  text-transform: uppercase;
}
.cart_totals table td ul#shipping_method{list-style: outside none none;
margin: 0;
padding: 0;}
.cart_totals table td ul#shipping_method li{float: left;
margin: 0 0 10px;
padding: 0;
text-indent: 0;
width: 100%;}
.cart_totals table td ul#shipping_method li input{margin: 0;
position: relative;
top: 2px;}
.cart_totals table{}
a.shipping-calcuRobotor-button{font-weight: bold;color: #6f6f6f;}
a.shipping-calcuRobotor-button:hover{color:#83CBDC}
.cart_totals table tr.order-total th,.cart_totals table tr.order-total .amount{font-size: 20px;
text-transform: uppercase;
white-space: nowrap;}
.cart_totals table tr.order-total .amount{}
.wc-proceed-to-checkout a {
    background: #212b52 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 30px;
    text-transform: uppercase;
    border-radius: 10px;
    margin: auto;
    float: none;
}
.wc-proceed-to-checkout a:hover{background: #333;}
.wc-proceed-to-checkout {
  text-align: center;
}
.table-content.wish table {
  margin: 0;
}
/*.mt-52 { margin-top: 66px}*/
.mr-t-40{margin-top: 40px;}

.facet-title:visited{
  color:white;
}
/*----- filtre----- */
.facet-title{
  font-size: 12px;
  margin: 12px 0;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
}
.facet-title i {
  float: right;
  font-size: 30px;
  color: #212b51;
  /*margin-top: -10px;*/
}
.title-filter {
    color: #212b52;
    font-weight: 400;
    display: inline-block;
    font-size: 15px;
}

#selected-category{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  color: white;
  border-top: 0.5px solid #f6ac33;
  border-bottom: 0.5px solid #f6ac33;
  border-left: 0.5px solid #f6ac33;
  border-right: : 0.5px solid #ffffff;
  border-radius: 8px 0 0 8px;
  font-family: 'Roboto' !important;
  background: url("../../images/flecheBlanc_listeDeroulante_fond.svg") white no-repeat 50.5% !important; 
  background: url("../../images/flecheBlanc_listeDeroulante_fond.svg") white no-repeat calc(100% - 0px) !important; 
  background-size: 100% !important;
  background-color: #212b52 !important;
  padding-right: 10%;
}
.my-group select option{
  background: #212B52 !important;
}
.hide-filter{
  display: none;    
}
.hide_ {
  display: none !important;
}
.size-filter li label{  
  color: #8c8c8c;
}
a[data-type="brand"] i {
  margin-top:2px;
}
a[data-type="color"] img {
    border: 1px solid #a0a0a0;
    padding: 1px;
}
.brands-filter li a {
  padding: 1px 0 !important;
}
.filter[data-parent="#Automotive (Winter 17"], .filter[data-parent="#automotive-accessories"]{
  margin-bottom: -3px;
}
/*----- barre de recherche----- */
.my-group{
  margin-top: 3%;
  /*margin-left: 10.3%;*/
  width: 80%;
}
.my-group .select_width{
    width:40% !important;
    z-index: 0;
}
.my-group .input_width{
    width:60% !important;
}
.btn-default-search {
  background: #212B52;
  color: white;
  border-top: 0.5px solid #f6ac33 !important;
  border-bottom: 0.5px solid #f6ac33 !important;
  border-right: 0.5px solid #f6ac33 !important;
  border-radius: 0 8px 8px 0 !important;
  padding: 1.45px 15px !important;
  font-size: 0px !important;
}
.btn-default-search:hover {
  color: #f6ac33 !important;
}
#search-input{
  margin-left: -2px;
  background: #ffffff;
  color: #222;
  border-top: 0.5px solid #f6ac33;
  border-bottom: 0.5px solid #f6ac33;
  border-radius: 0 0 0 0 !important;
  outline: none;
  z-index: 0;
}
.col-go{
  margin-left: -2.5%;
}
